doctype html
html
    head
        title Kontrola pristupa
        link(rel="stylesheet" href="/style.css")
        link(rel="icon" href="/favicon.ico" type="image/x-icon")
        script(src="/accessScript.js")

    body
        if user
            div.profile-container
                img.profile-image(src=user.picture alt="Profile Picture")
                div.profile-details
                    p.profile-name #{user.name}
                    p.profile-email #{user.email}
                    p.profile-roles
                        | Uloge: #{roles_string} 

            div                    
                button.action-btn(onclick="location.href='/'") Početna
                button.action-btn(onclick="location.href='/pohranjeniXSS'") Primjer pohranjeni XSS
                button.logout-btn(onclick="location.href='/logout'") Logout
        else
            button.action-btn(onclick="location.href='/'") Početna
            button.action-btn(onclick="location.href='/pohranjeniXSS'") Primjer pohranjeni XSS
            button.action-btn(onclick="location.href='/login'") Prijava

        h1 Primjer loše kontrole pristupa 
        button.action-btn(onclick="toggleBrokenAccess()" id="protection-btn")
            | Zaštita je trenutno 
            span
            if brokenAccessProtection
                | uključena!
            else
                | isključena!
        if brokenAccessProtection
            img(src="/favicon-32x32.png" alt="Štit" id="protection-icon")
        else
            img(src="/favicon-32x32.png" alt="Štit" id="protection-icon" style="visibility: hidden;")

        p U ovom primjeru ćemo demonstrirati zaštitu pristupa tako da štitimo rutu <strong>/dashboard/admin</strong>. <br>
            | Napadač se može prijaviti i dobiti pristup ruti <strong>/dashboard/user</strong> (njoj svi imaju pristup), te može lukavo probati pretvoriti user u admin i pokušati pristupiti ruti <strong>/dashboard/admin</strong>. <br>
            | Ovisno je li zaštita uključena ili nije on će moći ostvariti pristup toj stranici, a zapravo ne bi smio. <br>
            | Zaštita se provodi pomoću auth0. To je servis koji služi za autentifikaciju i autorizaciju.<br>
            | U auth0 je potrebno kreirati aplikaciju i spojiti je s našim backendom, prijavljivanjem i odjavom upravlja auth0.<br>
            | Također u auth0 je potrebno napraviti korisnike i dodjeliti im uloge te Action koji će nakon svakog login-a postaviti odgovarajuće uloge u OIDC objekt.<br>
            | Poslužitelj prilikom pristupa zaštićenoj ruti, provjerava je li se korisnik prijavio i da li ima uloge za pristup toj stranici.<br>


        h2 Koraci za primjer
        ol 
            li  Prvo je potrebno prijaviti se kao user ili kao admin 
                p Admin - email: admin@admin.com password: Admin123!<br>User - email: tester@test.com password: Tester123!
            if !user
                button.action-btn(onclick="location.href='/login'") Prijava
            li  Uključiti ili isključiti zaštitu
            li  Pokušati otići na admin stranicu s user i admin računom

        button.action-btn(onclick="location.href='/dashboard/user'") User stranica, vodi na <strong>/dashboard/user</strong>
        button.action-btn(onclick="location.href='/dashboard/admin'") Admin stranica, vodi na <strong>/dashboard/admin</strong>
        p Možemo primjetiti da kada je zaštita uključena obični korisnik nema pristup stranici <strong>/dashboard/admin</strong>, samo admin ima tada pristup,<br>
            | ali kada je zaštita isključena tada i korisnik može pristupiti toj stranici.
