doctype html
html
    head
        title Admin Page
        link(rel="stylesheet" href="/style.css")

    body
        h1 Admin Page
        p Welcome to the admin section.
        a(href='/dashboard') Back to Dashboard
        form.login(action='/logout' method='POST')
            button.action-btn(type='submit') Logout
