doctype html
html
    head
        title Početna stranica
    body
        h1 Hello world!
        button.action-btn(onclick="location.href='/pohranjeniXSS'") Primjer pohranjeni XSS
        button.action-btn(onclick="location.href='/kontrolaPristupa'") Primjer loše kontrole pristupa