doctype html
html
    head
        title Pohranjeni XSS
        link(rel="stylesheet" href="/style.css")
        script(src="/script.js")

    body
        button.action-btn(onclick="location.href='/'") Po캜etna
        button.action-btn(onclick="location.href='/kontrolaPristupa'") Primjer lo코e kontrole pristupa
        h1 Primjer pohranjeni Cross-site scripting (XSS)
        p Pohranjeni ili perzistentni (trajni) XSS je vrsta sigurnosne ranjivosti u kojoj se maliciozni kod pohranjuje na poslu쬴telju.<br>
            | Do XSS napada dolazi kada napada캜 naj캜e코캖e putem forme ili polja za unos, ako nema potrebnu za코titu (validaciju polja za unos...), ume캖e svoj 쬰ljeni maliciozni kod i poslu쬴telj bez ikakve provjere sprema taj maliciozni kod.<br>
            | Svaki puta kada netko pristupi tom poslu쬴telju, korisniku se bez njegovog znanja 코alje i spremljena maliciozna skripta koja se automatski pokrene, 캜esto bez znanja korisnika <br>
            | Glavni na캜in za코tite protiv pohranjenog XSS napada je validacija i sanitizacija teksta na strani poslu쬴telja.<br>
            | HTML tagovi poput &lt;script&gt; se prepoznaju i tretiraju kao obi캜ni tekst tako da se zamjene (escape-aju) s HTML entitetima poput &amp;lt; i &amp;gt;.<br>
            | Tako캠er mo쬰mo za코titi i kola캜i캖e kori코tenjem Http-Only i Secure zastavica

        div 
            h2 Koraci za primjer 
            ol 
                li Isklju캜imo za코titu (gumb desno od unosa)
                li Unosimo tekst/skriptu u polje za unos i dodamo ju
                    ul 
                        li Pr.1 &lt;img src='x' onerror='alert(document.cookie)'&gt;
                        li Pr.2 &lt;div onclick="location.href='https://www.fer.unizg.hr/'" style="color: red;"&gt;Klikni me&lt;/div&gt;
                li 
                    div Pr.1 캖e otvoriti prozor캜i캖 u kojem mo쬰mo vidjeti kola캜i캖<br>
                        | Pr.2 캖e klikom preusmjeriti na fer stranicu
                li Obri코emo primjere koji izvode XSS napad (ikona ko코arice ili gumb obri코i sve)
                li Uklju캜imo za코titu i ponovimo napade koje smo izveli
                li Poslu쬴telj radi sanitizaciju teksta, skripte se ne izvode i prikazuje ih kao tekst

        div 
            h3 Komentar: za코to ne radi script tag?
            p Prilikom dohva캖anja komentara i prikazivanja, elementi se pomo캖u javascript-a stvaraju i dodavaju na zaslon.<br>
                | Oni se dodaju pomo캖u innerHTML property, koji bi u pravilu trebao 코to god da mu predamo tretirati to kao HTML,<br>
                | ali jer je predvi캠ena opasnost od XSS napada u HTML5 dokumentaciji je napisano da &lt;script&gt; tag unutar innerHTML se ne캖e izvoditi<br>
                | Jedan zaobilazni na캜in koji radi (i kori코ten je u primjerima) je pomo캖u atributa poput onerror (pokrenemo namjernom pogre코kom) ili onclick, onhover i sli캜nim unutar tagova poput div, p, img...<br>
                | Da radimo server-side rendering i vra캖amo samo HTML tada bi se skripte sa script tagovima mogle pokrenuti
            a(href="https://www.w3.org/TR/2008/WD-html5-20080610/dom.html#innerhtml0") HTML5 dokumentacija<br>
            a(href="https://developer.mozilla.org/en-US/docs/Web/API/Element/innerHTML") InnerHTML MDNdocs

        div.container
            div.comment
                h2 Dodaj komentar
                form(onSubmit="addComment(event)")
                    textarea(name="comment" required)
                    br
                    button(type="submit") Dodaj
            div.options
                button.action-btn(onclick="toggleXSSProtection()" id="protection-btn")
                    | Za코tita je trenutno 
                    span
                        if xssProtection
                            | uklju캜ena!
                        else
                            | isklju캜ena!

                if xssProtection
                    img(src="/favicon-32x32.png" alt="맚it" id="protection-icon")
                else
                    img(src="/favicon-32x32.png" alt="맚it" id="protection-icon" style="visibility: hidden;")
        div.comment-header
            h1 Komentari
            button.delete-all-btn(onclick="deleteAllComments()" id="delete-all-btn") Obri코i sve
        ul(id="comments-ul")
            //- each comment in comments
            //-     li
            //-         div.list-item
            //-             span.item-text !{comment.comment_text}
            //-             button.delete-button(onclick=`deleteComment(${comment.id})`) 游딈勇